# Timed Entity Card

Diese Karte ermöglicht es, eine Entität zu aktivieren und nach einer festgelegten Zeit wieder auszuschalten.

## Installation
Füge das Repository über HACS hinzu.

## Konfiguration
1. `main_entity`: Die Entität, die beim Drücken des Buttons eingeschaltet wird.
2. `countdown_time`: Die Standardzeit (in Minuten), die nach dem Start des Countdowns abläuft.
3. `entities_to_switch_off`: Eine Liste von Entitäten, die nach Ablauf des Countdowns ausgeschaltet werden.

Beispiel:
```yaml
type: 'custom:timed-entity-card'
main_entity: switch.lights
countdown_time: 10
entities_to_switch_off:
  - switch.lights
  - light.kitchen
